# Environment variables for model APIs
# Create a copy of this file named `.env` in the repo root and fill in values.

# Mistral
MISTRAL_BASE_URL=https://integrate.api.nvidia.com/v1
MISTRAL_API_KEY=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
MISTRAL_MODEL=mistralai/mistral-nemotron

# Qwen
QWEN_BASE_URL=https://integrate.api.nvidia.com/v1
QWEN_API_KEY=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
QWEN_MODEL=qwen/qwen3-coder-480b-a35b-instruct

# Llama
LLAMA_BASE_URL=https://integrate.api.nvidia.com/v1
LLAMA_API_KEY=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
LLAMA_MODEL=meta/llama-3.1-70b-instruct
